.text-lg {
  font-size: larger !important;
}

.character {
  position: absolute;
  bottom : 0;
  width: clamp(100px, 80px + 1.5vw, 1.5em);
    height: clamp(100px, 80px + 1.5vw, 1.5em);
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#total_wrap {
  height: 87vh;
}


#main {
  min-width: auto;
  position: relative;
  /* padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto; */
}

#main {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
}

#main::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

.cursor_pos_1, .cursor_pos_2, 
.cursor_pos_3, .cursor_pos_4, 
.cursor_pos_5, .cursor_pos_6,
.cursor_pos_5_1, .cursor_pos_4_1
{
  position: relative;
}

.digital-e__beacon {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  color: rgb(85, 85, 85);
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 8px;
  appearance: none;
  display: inline-block;
  height: 36px;
  position: relative;
  width: 36px;
  z-index: 100;
}

@keyframes beacon-outer {
  0% {
    transform: scale(1);
  }

  45% {
    opacity: 0.7;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.9;
    transform: scale(1);
  }
}

h1 {
  font-size: clamp(24px, 20px + 2.3vw, 2.3em);
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #fff;
  display: inline;
}

h2 {
  font-size: clamp(24px, 13px + 2vw, 2em);
  margin-block-start: 0.1em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  display: inline;
}

h3 {
  font-size: clamp(18px, 18px + 1.3vw, 1.3em);
  margin-block-start: 0.1em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  display: inline;
  letter-spacing: 4px;
}

p {
  font-size: clamp(18px, 20px + 1.5vw, 1.5em);
}

img {
  max-width: 100%;
  vertical-align: middle;
}

#wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 375px;
  max-width: 480px;
  width: 100%;
  height: 100%;
  background: #eee;
}

#wrap .view {
  overflow: hidden;
  box-sizing: content-box;
  flex-basis: var(--screen-width);
  width: 100vw;
  height: calc(var(--vh, 1vh)*100);
  /* 20230105 상하길이 수정
  /* height: calc(var(--vh, 1vh)*100);  */
  /* height: calc(var(--vh, 1vh) * 100);  */
  position: relative;
  background: #fff;
}

.news,
.chat,
.cafe {
  /* height: 79vh; */
  padding: 1em;
}
.blog {
  /* height: 70vh; */
  padding: 1em;
}

/* ------------------------------- haeder----------------------------------- */
.hd_left,
.hd_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13%;
  height: 100%;
  text-align: center;
}

.hd_center {
  width: 70%;
  text-align: center;
}
 
.hd_center {
  width: 100%;
}


.hd_msg {
  background: #0094FF;
}

.hd_msg .hd_center {
  width: 60%;
  text-align: unset;
}

.hd_left {
  width: auto;
  padding-bottom: 1em;
  padding-left: 1.3em;
  color: #fff;
  text-align: left;
  align-items: flex-end;
}

.hd_video {
  background: #ED3023;
}

.hd_cafe {
  background: #662FDA;
}

.hd_newslist {
  background: rgba(81, 180, 0, 1);
}

.hd_blog {
  background: #FF8A00;
}

.hd_blog {
  background: #FF8A00;
}

.hd_type {
  background: #6279b7;
  height : 15vh;
}

.msg-box {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 7vh;
  margin-left: .3em;
  font-size: clamp(12px, 12px + 1.2vw, 1.5em);
  color: #BDBDBD;
}

.msgbar .msg-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
  padding: .5em .7em .5em 1.5em;
  margin-left: .3em;
  margin-right: .3em;
  border: 1px solid #BDBDBD;
  border-radius: 1em;
  font-size: clamp(10px, 10px + 1.2vw, 1.5em);
  color: #BDBDBD;
}

.type-list {
  min-width: 95%;
  background: #eee;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 7%;
  padding-bottom: 5%;
  border-radius: 20px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.msgbar .sender {
  min-width: 17%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0e0e0;
  border-radius: 1em;
  margin-right: .3em;
}

.sender .txt {
  /* color: #fff; */
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
}

.sender>img {
  width: 2em;
  height: 2em;
  background: rgba(255, 223, 0, 1);
  border-radius: 100%;
}

/* ------------------------------------------------------------------------------ */


#modal1,
#modal2 {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 35;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-height: 38%;
    background-color: #F9CF1C;
    border-radius: 0.5rem;
    box-shadow: 0 0 0 7px #000, 0 0 0 3px #999, 0 0 0 16px #fd0, 0 0 0 18px #000, 0 0 0 9999px rgb(0 0 0 / 40%);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
}


.chat .chat_item>div,
.chat .chat_item {
  max-width: 92%;
}

.chat .chat_item .bubble:not(:first-child) {
  margin-top: 10px;
}

.chat .chat_item.other .bubble {
  color: #000;
  background: #eee;
  border-radius: 0 20px 20px 20px;
  -webkit-border-radius: 0 20px 20px 20px;
}

.chat .chat_item.other .bubble div
{
  word-break: keep-all;
  word-wrap: break-word;
}

/* ------------------------------------------------------------------------------------------- */
.heart{
  display: inline;
}

.cafebar,
.blogbar,
.newsbar,
.msgbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: #fafafa;
  width: 100%;
  height: 8vh;
}

.cafebar,
.blogbar,
.newsbar {
  background: #f6f6f6;
}

.cafebar .reactions,
.blogbar .reactions,
.newsbar .reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* font-size: clamp(21px, 21px + 2vw, 2em); */
  font-size: xx-large;
}

.cafebar>.reactions .like,
.blogbar>.reactions .like,
.blogbar>.reactions .share,
.newsbar>.reactions .like {
  /* padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .7em;
  padding-right: .7em; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.blogbar>.reactions .share,
.blogbar>.reactions .like .heart,
.blogbar>.reactions .like .comment {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: .5em;
  font-size: clamp(28px, 10px + 1.3vw, 1em);
}

.cafebar>.reactions .comment,
.newsbar>.reactions .comment {
  /* padding-top: .4em;
  padding-bottom: .4em;
  padding-left: .7em;
  padding-right: .7em; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_wrap {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  padding-right: .5em;
  border-bottom: 1px solid #e0e0e0;
}

.info_wrap .cafe-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
  /* color: #bdbdbd; */
  font-size: clamp(21px, 21px + 2.4vw, 2.4em);
}

.info_wrap .blog-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
  /* color: #bdbdbd; */
  font-size: clamp(21px, 21px + 2.4vw, 2.4em);
  margin-bottom: 8px;
}

.icon_reply {
  width: 2em;
  height: 2em;
  padding-top: .5em;
}

.blog .blog_item .comment-cont {
  border-bottom: 1px solid #e0e0e0;
}

/*--------------------------------------------- 모달창 ---------------------------------------------*/
.popup .title {
  padding: 10px;
  font-size: 2.0em;
  font-weight: bold;
  background-color: #000;
  color: white;
  width: 100%;
  text-align : center;
  display: flex;
    justify-content: center;
    align-items: center;
}


#factcheck_modal .content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
}

.popup .content {
  width: 100%;
  text-align: center;
}

.popup .cmd {
  width: 100%;
  margin-bottom: 1.5em;
  min-height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  /*0926 hy*/
}

.popup .cmd .btn {
  background: #000000;
  border-radius: 0.5rem;
  color: #fff;
  font-size: clamp(14px, 14px + 1.7vw, 1.7em);
  font-weight: 500;
  width: 50%;
  height: 2.3em;
}

.btn_wrap .btn {
  vertical-align: middle;
}

/* ------------------------------------------------------------ */

#modal1 .content,
#modal2 .content {
  padding-left: 2em;
  padding-right: 2em;
}

#modal1 .content p,
#modal2 .content p {
 margin-bottom: 0;
 font-weight: bold;
 padding: 1em;
 word-break: keep-all;
 word-wrap: break-word;
}

#modal1 .title img,
#modal2 .title img {
  width: 1em;
  height: 1em;
}

#modal1 .title .title_txt,
#modal2 .title .title_txt {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#paste_modal {
  min-height: 10em;
  background-color: #fefefe;
  padding: 0;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 40;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 70%;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 0 2px 55px -25px rgb(0 0 0);
}

#paste_modal .paste_title1 {
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid #fff;
}

#paste_modal .paste_title2 {
  border-bottom: 1px solid #fff;
}

#paste_modal .paste_title3 {
  border-radius: 0 0 10px 10px;
}

#paste_modal .paste_title {
  width: 100%;
  height: 25%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #424242;
  font-size: clamp(5px, 5px + .8vw, .8em);
  font-weight: bold;
  padding: 1em;
}

#paste_modal .paste_title #cafe_title {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}
#paste_modal .paste_title .title {
  margin: 0;
}
#paste_modal .title {
  margin-top: 0.5em;
  padding: 10px;
  color: black;
  font-size: 3em;
  font-weight: bold;
  position: relative;
}