.hd_msg,
.hd_newslist,
.hd_blog,
.hd_cafe{
  height: calc(var(--vh, 1vh)*8);
}
.chat_main,
.news_main,
.blog-main,
.blog_main,
.cafe_main{
  height : calc(var(--vh, 1vh)*71) !important;
}

h1 {
  line-height: unset !important;
}

#emo {
  width: 60%;
  height: 60%;
}

.bubble2_wrap {
  margin-top: 5px;
}

.blog_name {
  position: relative;
}

.news-info {
  position: relative;
}

.text_wrap {
  width: 100%;
}

.title_h1 {
  width: 100%;
  overflow: hidden;
  word-break: keep-all;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: bolder;
}

.blog .blog_item .comment-cont {
  line-height: 1.7em;
}


#main .txt_main {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 40px;
}

.inputname .input-wrap {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------------------------------------- */
.chat .chat_item .bubble {
  line-height: 1.6;
  padding: 1rem 1.4rem;
  display: inline-block;
  clear: both;
  max-width: 100vw;
}

/*--------------------- cafe --------------------------*/
#cafe_guide {
  transform: scaleX(-1);
}

.cafe .cafe_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  word-break: keep-all;
  word-wrap: break-word;
}

.cafe .cafe_item .cafe-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cafe .cafe_item>.play,
.cafe .cafe_item>.recommend {
  background: #e0e0e0;
  padding: 0;
  width: 100%;
  min-height: 200px;
}

.cafe .cafe_item.cafe-scene .writer-profile {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.cafe .cafe_item.comment .writer-profile,
.cafe .cafe_item.reply .writer-profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 1em;
}

.cafe .cafe_item.comment .writer-profile .profile_wrap,
.cafe .cafe_item.reply .writer-profile .profile_wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.cafe .cafe_item .writer-info .virtual {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #F6F6F6;
  border: solid 1px #e0e0e0;
}

.cafe .cafe_item .writer-info .writer {
  padding-left: 1em;
}

.cafe .cafe_item .writer-info .writer .name {
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
  font-weight: bold;
  color: #424242;
}

.cafe .cafe_item .writer-info .writer .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bdbdbd;
  font-size: clamp(9px, 9px + 1.2vw, 1.2em);
}

.cafe .cafe_item .writer-info .writer .info .date {
  padding-right: 3em;
}

.cafe .cafe_item .info_wrap .cafe-cont {
  flex-shrink: 0;
  width: 100%;
}

.cafe .cafe_item .info_wrap .cafe-cont .title {
  font-weight: bold;
}

.cafe1 .cafe_item .info_wrap .cafe-cont .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  font-size: clamp(11px, 11px + 1.4vw, 1.4em);
  margin-bottom: 8px;
}

.cafe .cafe_item .reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
  font-weight: bold;
  padding-top: 1em;

}

.cafe .cafe_item .info_wrap .cafe-cont .reactions>.comment,
.cafe .cafe_item .info_wrap .cafe-cont .reactions>.like {
  font-weight: bold;
  padding-right: 50px;
}


.cafe .cafe_item .cafe-main {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  padding-right: .5em;
}

.cafe .cafe_item .cafe-main .cafe-cont div {
  word-break: keep-all;
  word-wrap: break-word;
}

.cafe .cafe_item .cafe-cont .cafe_img {
  display: flex;
  background: #9d9d9d;
  min-height: calc(var(--vh, 1vh)*23);
  width: 100%;
  margin-bottom: .5em;
  border-radius: 10px;
}

.cafe .cafe_item .cafe-main .cafe-cont>p {
  line-height: 1.6;
}

.info_wrap .comment-info {
  display: flex;
  align-items: center;
  /* color: #bdbdbd; */
  font-size: clamp(12px, 12px + 1.5vw, 1.5em);
}

.cafe .info_wrap .comment-info .comment {
  color: #662FDA;
  font-weight: bold;
}

.cafe .cafe_item .writer-profile .writer-info {
  width: 78%;
  padding-left: 1em;
}

.cafe .cafe_item .writer-profile .virtual  {
  width: 55px;
    height: 55px;
    border-radius: 100%;
    background: #F6F6F6;
    border: solid 1px #e0e0e0;
}

.cafe .cafe_item .writer-profile .virtual>img {
  border-radius: 100%;
}


.cafe .cafe_item .writer-profile .writer-info .name {
  /* font-size: clamp(10px, 10px + 1.2vw, 1.2em); */
  font-weight: bold;
  color: #424242;
  display: flex;
  align-items: center;
}

.cafe .cafe_item .writer-profile .writer-info .name>img {
  padding-left: 0.3em;
}

.cafe .cafe_item .writer-profile .writer-info .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #bdbdbd;
  /* font-size: clamp(9px, 9px + 1vw, 1em); */
}

.cafe .cafe_item .writer-profile .writer-info .info .date {
  padding-right: 1.3em;
}

.cafe .cafe_item .comment-cont {
  width: 100%;
  padding-top: 1em;
  padding-left: .5em;
  /* font-size: clamp(12px, 12px + 1.5vw, 1.5em); */
}

.cafe .cafe_item:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 1.2em;
}

.cafe .cafe_item.reply .reply_item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.cafe .cafe_item.reply .writer-profile {
  padding-left: 1em;
}

.cafe .cafe_item.reply .comment-cont {
  padding-left: 2em;
  padding-right: 1em;
}


/* ------------------------------blog-------------------------------- */
.blog .blog_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blog .blog_item .comment-cont {
  line-height: 1.7em;
}

.blog .blog_item .info_wrap .blog-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blog .blog_item.comment .writer-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.blog .blog_item .writer-info .virtual {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #F6F6F6;
  border: solid 1px #e0e0e0;
}

.blog .blog_item .writer-info .writer {
  margin-top: 1em;
  text-align: center;
}

.blog .blog_item .writer-info .writer .name {
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
  font-weight: bold;
  padding-bottom: .3em;
  color: #424242;
}

.blog .blog_item .writer-info .writer .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bdbdbd;
  font-size: clamp(9px, 9px + 1.2vw, 1.2em);
}

.blog .blog_item .writer-info .writer .info .date {
  padding-right: 1em;
}

.blog .blog_item .info_wrap .blog-cont {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
}

.blog .blog_item .info_wrap .blog-cont .title {
  text-align: center;
  font-weight: bold;
}

.blog .blog_item .info_wrap .blog-cont .info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: clamp(11px, 11px + 1.4vw, 1.4em);
}

.blog .blog_item .reactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3em;
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
  font-weight: bold;
  padding-top: 1em;

}

.blog .blog_item .info_wrap .blog-cont .reactions>.comment,
.blog .blog_item .info_wrap .blog-cont .reactions>.like {
  font-weight: bold;
  padding-right: 50px;
}

.blog .info_wrap .comment-info .comment {
  color: #FF8A00;
  font-weight: bold;
}


.blog .blog_item .blog-main {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  padding-right: .5em;
  /* font-size: clamp(12px, 12px + 1.5vw, 1.5em); */
  /* line-height: 1.7em; */
  word-break: keep-all;
  word-wrap: break-word;
}

.blog .blog_item .blog-main .blog-cont {
  display: flex;
  flex-direction: column;
}

.blog .blog_item .blog-main .blog-cont .blog_text {
  /* padding-right: .5em;
  padding-left: .5em; */
  display: flex;
    flex-direction: column;
    align-items: center;
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
}

.blog .blog_item .blog-main .blog-cont .blog_img {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.1em;
  background: #9d9d9d;
  width: 100%;
  border-radius: 10px;
}

.blog .blog_item .writer-profile .writer-info {
  padding-left: 1em;
}

.blog .blog_item .writer-profile .virtual {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: #F6F6F6;
  border: solid 1px #e0e0e0;
}

.blog .blog_item .writer-profile .writer-info .name {
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
  font-weight: bold;
  color: #424242;
}

.blog .blog_item .writer-profile .writer-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bdbdbd;
  font-size: clamp(9px, 9px + 1.2vw, 1.2em);
}

.blog .blog_item .writer-profile .writer-info .info .date {
  padding-right: 3em;
}

.blog .blog_item .comment-cont {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.blog .blog_item.reply {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog .blog_item.reply .reply_item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.blog .blog_item.reply .writer-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.blog .blog_item.reply .comment-cont {
  padding-left: 2em;
}

.chat_main {
  overflow: auto;
  scroll-behavior: smooth;
  word-break: keep-all;
  word-wrap: break-word;
}

.linkbar {
  font-size: 1em;
  position: relative;
  height: auto;
  color: #000;
  text-decoration: none;
  word-break: keep-all;
  word-wrap: break-word;
}

.link {
  position: relative;
  height: auto;
  color: #0094FF;
  text-decoration: none;
  word-break: keep-all;
  word-wrap: break-word;
}

.popup .cmd.confirm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup .cmd.confirm .btn {
  width: 45%;
}



/*--------------------- news --------------------------*/
.news {
  overflow-y: scroll;
  height: calc(var(--vh, 1vh)*84);
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  /*1006*/
  /* IE and Edge */
}

.news .news_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.news .news_item .news-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.news .news_item>.play,
.news .news_item>.recommend {
  background: #e0e0e0;
  padding: 0;
  width: 100%;
  min-height: 200px;
}

.news .news_item .writer-info .name {
  padding-left: 1em;
}

.news .news_item .writer-profile {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}

.news .news_item .writer-info .writer-profile .virtual {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #F6F6F6;
  border: solid 1px #e0e0e0;
}

.news .news_item .icon_img.profile {
  border-radius: 100%;
}

.news .news_item .writer-info .writer {
  padding-left: 1em;
}

.news .news_item .writer-info .info {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  font-size: clamp(9px, 9px + 1.2vw, 1.2em);
}

.news .news_item .writer-info .info .date {
  padding-right: 2em;
}

.news .news_item .writer-info .writer-profile .name {
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
  color: #424242;
}

.news .news_item .info_wrap .news-cont {
  flex-shrink: 0;
  width: 100%;
  width: 100%;
}

.news .news_item .info_wrap .news-cont .title {
  font-weight: bold;
}

.news1 .news_item .info_wrap .news-cont .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  font-size: clamp(11px, 11px + 1.4vw, 1.4em);
  margin-bottom: 8px;
}

.news .reactions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  padding-top: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
  align-items: center;
}


.news .reactions .react_wrap {
  width:25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news .news_item .reactions .react_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news .news_item .info_wrap .news-cont .reactions>.comment,
.news .news_item .info_wrap .news-cont .reactions>.like {
  font-weight: bold;
  padding-right: 50px;
}

.news_img {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: .3em;
  margin-bottom: .5em;
  background: #9d9d9d;
}

.news .news_item .news-main {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  padding-right: .5em;
  border-bottom: 1px solid #e0e0e0;
}

.news .news_item .news-main .news-cont div {
  word-break: keep-all;
  word-wrap: break-word;
}

.news .news_item .writer-profile .writer-info {
  padding-left: 1em;
}

.news .news_item .writer-profile .writer-info .name {
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
  font-weight: bold;
  color: #424242;
}

.news .news_item .writer-profile .writer-info .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bdbdbd;
  font-size: clamp(9px, 9px + 1.2vw, 1.2em);
}

.news .news_item .writer-profile .writer-info .info .date {
  padding-right: 3em;
}

.news .news_item .news-main .news-cont .info_wrap {
  border-bottom: 0;
}

.news .news_item .news-main .news-cont .info_wrap .info .name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: clamp(10px, 10px + 1.3vw, 1.3em);
}

.news .news_item .comment-cont {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.news .news_item.reply {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news .news_item.reply .reply_item {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.news .news_item.reply .writer-profile {
  padding-left: 1em;
}

.news .news_item.reply .comment-cont {
  padding-left: 2em;
}

.news .news_item .writer-info_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1em;
  border-top: 1px solid #e0e0e0;
    font-size: clamp(10px, 10px + 1.3vw, 1.3em);
}

.news .news_item .writer-info_wrap .info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news .news_item .writer-info_wrap .info .name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.news .news_item .writer-info_wrap .info .another-news {
  display: flex;
  align-items: center;
  color: #bdbdbd;
  font-size: clamp(7px, 7px + 1vw, .7em);
}

.blog .blog_item.blog-scene .writer-profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1em;
}